{% extends "global/base.html" %}
{%load static%}
{% block title %}Listagem de Pets - Find My Pets{% endblock title %}]

{% block content %}
<div class="container" style="max-width: 968px;">
    <h1>Listagem de Pets</h1>

    <div class="mb-3" style="display: flex; justify-content: space-between;" >
        <form class="" action="{% url 'listagem_pets' %}" method="get">
            <input class="" type="text" name="search" placeholder="Buscar por nome">
            <button class="" type="submit">Buscar</button>
        </form>
        <a href="{% url 'cadastrar_pet' %}" class="btn btn-success">Cadastrar Pet</a>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Descrição</th>
                <th scope="col">Porte</th>
                <th scope="col">Sexo</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for pet in pets %}
            <tr>
                <td>{{ pet.nome }}</td>
                <td>{{ pet.descricao }}</td>
                <td>{{ pet.porte }}</td>
                <td>{{ pet.sexo }}</td>
                <td>
                    <a href="{% url 'editar_pet' pet.id %}" class="btn btn-primary">Editar</a>
                    <button class="btn btn-danger" type="button" onclick="removerPet({{ pet.id }})">Excluir</button>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">Nenhum pet cadastrado.</td>
            </tr>
            
            {% endfor %}

        </tbody>
    </table>

</div>

<script>
    function removerPet(id) {
        let confirmacao = confirm("Tem certeza que deseja excluir o pet?")
        if (confirmacao) {
            window.location.href = `/pets/excluir/${id}`
        }
    }

</script>

{% endblock content %}

