<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{% block title %}{% endblock title %}</title>
</head>
<style>
    header{
        background-color: black;
        color: white;
    }

    header a{
        color: white;
    }

    header a:hover{
        color: red;
    }
</style>
<body>
    {% include 'primeiroapp/partials/header.html' %}
    
    {% block content %}{% endblock content %}

</body>
</html>