{% extends "primeiroapp/base.html" %}

{% block title %}Teste title{% endblock title %}

{% block content %}
    <h1>Teste block</h1>
    <form action="/atualizar_item/" method="post">
        {% csrf_token %} 
        
        <input type="text" name="nome" placeholder="Nome do produto">
        <input type="number" name="number" placeholder="Preço do produto">
        <button type="submit">Enviar</button>

    </form>
    <ul>
        {% for item in produtos %}
            <li>{{item.nome}} - <a href="/remover_item/{{item.id}}">Remover</a> - <a href="/atualizar_item/{{item.id}}">Atualizar</a></li>
        {% endfor %}
    </ul>
{% endblock content %}