{% extends "app_pets/partials/base.html" %}
{% load static %}
{% block title %}header{% endblock title %}

{% block content %}
 <header>
        <!-- Navigation Bar com imagem e texto -->
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            
            <!-- Marca com imagem -->
            <a class="navbar-brand d-flex align-items-center" href="#">
            <img src="{% static 'images/icon.svg' %}" alt="Bootstrap" width="30" height="30" class="me-2">
            FindMyPet
            </a>

            <!-- Botão toggle para mobile -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Links da navbar -->
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">Page 1</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">Page 2</a>
                </li>
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown link
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
                </li>
            </ul>
            </div>

        </div>
        </nav>
    </header>  
{%endblock content %}