{% extends "app_accounts/global/base.html" %}

{% block title %}Login{% endblock title %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <div>
        <a href="{% url 'register' %}">Casdastre-se</a>
        <a href="{% url 'password_reset' %}">Esqueci minha senha</a>
    </div>
    <button type="submit">Login</button>
</form>
{% endblock content %}